/* 						Content_Colors.css 						*/

/* ############################### FONTS AND COLORS ############################### */
body a { color: #92b0e7; }

body a:active{ color:#92b0e7; }

font { color:#000; }

body b {
	font-weight: 600;
}

#content_area .colors_productname i b,
#content_area .colors_text, 
#content_area .pricecolor,
#content_area .pricecolor b span {
	/*font-weight: normal;*/
	/*color:#1DAACA !important;*/
}

table,
td {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}

textarea,
input {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	color:#000;}

form {margin:0px;}

.bgcolor1 {font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
.bgcolor3 {font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
.bglinecolor {}

.productnamecolorLaRGE,
a.productnamecolorLaRGE {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.productnamecolorLaRGE:hover {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}

.productnamecolor,
a.productnamecolor {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.productnamecolor:hover {
	text-decoration:none;}

.productnamecolorSMaLL {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
a.productnamecolorSMaLL{
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.productnamecolorSMaLL:hover{
	text-decoration:none;}

.pricecolor {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
a.pricecolor,
a.pricecolor:hover {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}

.pricecolorSMaLL {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
a.pricecolorSMaLL,
a.pricecolorSMaLL:hover {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}

a.RegularLink {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.RegularLink:hover {
	text-decoration:underline;}

.smalltext {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}
a.smalltext,
a.smalltext:hover {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}

.nav1,
a.nav1 {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.nav1:hover {
	text-decoration:none;}
.nav1_selected,
a.nav1_selected {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}

a.nav1_selected:hover {
	text-decoration:none;}

.nav2,
a.nav2 {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.nav2:hover{
	text-decoration:none;}
.nav2_selected,
a.nav2_selected {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.nav2_selected:hover {
	text-decoration:none;}

.nav3,
a.nav3 {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.nav3:hover {
	text-decoration:none;}
.nav3_selected,
a.nav3_selected {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.nav3_selected:hover {
	text-decoration:none;}

.carttext {
	font:10px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.carttext {
	font:10px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.carttext:hover {
	font:10px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:underline;}

a {text-decoration:none;}
a:hover{text-decoration:underline;}

.bgcolor2 {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;}

.navtitle,
a.navtitle,
a.navtitle:hover {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	letter-spacing:3px;}

.navTOP,
a.navTOP {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	color:#000000;
	text-decoration:none;}
a.navTOP:hover {
	color:#000000;
	text-decoration:underline;}

.navBOTTOM,
a.navBOTTOM {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.navBOTTOM:hover {
	text-decoration:underline;}

.NavSpecials,
a.NavSpecials {
	font:12px Raleway, Arial, Verdana, Helvetica, Sans-serif;
	text-decoration:none;}
a.NavSpecials:hover {
	text-decoration:none;}

BODY {background-color:#ffffff;}
A {color:#666666;}
A:hover {color:#888888;}
TD {color:#000000;}
.colors_background_main {background-color:#ffffff;}
.colors_background1 {background-color:#ffffff;}
.colors_background1_text {color:#333333;}
.colors_background1_text:hover{color:#333333;}
.colors_background2 {background-color:#ffffff;}
A.colors_background2_text:hover {color:#666666;}
.colors_background2_text {color:#666666;}
.colors_background3 {background-color:#DDDDDD;}
A.colors_background3_text:hover {color:#666666;}
.colors_background3_text {color:#666666;}
.colors_backgroundlight {background-color:#eeeeee;}
.colors_backgroundlight_dark {background-color:#dddddd;}
.colors_backgroundneutral {background-color:#eeeeee;}
.colors_backgroundneutral_dark {background-color:#dddddd;}
.colors_descriptionbox {background-color:#eeeeee;}
.colors_highlight {background-color:#ffbb00;}
.colors_lines {background-color:#000000;}
.colors_lines_light {background-color:#cccccc;}
.colors_links {color:#666666;}
A.colors_links:hover {color:#888888}
.colors_menutitle {background-color:#444444;}
.colors_menutitletext {color:#ffffff;}
.colors_pricebox {background-color:#eeeeee;}
.colors_productname {color:#444444;}
A.colors_productname:hover {color:#666666;}
.colors_productprice {color:#cc0000;}
A.colors_text:hover {color:#000000;}
/*.colors_text {color:#000000;}*/
A.colors_homepage_title{color:#007DE9;}

/* 						Template.css 									*/

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Avenir Next", sans-serif;
  text-align: center;
  font-weight: 400;
  /*-webkit-text-size-adjust: none;*/
  background: #262a31;
}
#table_checkout_cart3 li {
  list-style: inside;
}
#v65-onepage-ContentTable {
  margin: 0 auto;
}
a,
a:visited, 
a:active {
  outline-style: none;
}
#body a {
  text-decoration: none;
}
#body a:hover {
  text-decoration: underline;
}
#body .end {
  border-right: none !important;
}
img {
  border: none !important;
}
.clear {
  clear: both;
}

::selection {
	background: #87e1f6; /* Safari */
	}
::-moz-selection {
	background: #87e1f6; /* Firefox */
}

/** ========== CONTENT AREA ========== **/
#pageWrapper {padding-bottom: 8px;}
#content_area .v65-cart-giftcert-details-row td font,
#content_area .v65-cart-giftcert-details-row td font b {
  /*color: #666666 !important;*/
}
/** ========== CHECKOUT ========== **/
#v65-onepage-DetailHeaders,
.v65-onepage-headerShort {
}
#billing-header,
#shipping-header,
#v65-checkout-payment-header {

}
#v65-onepage-cartsummary-label {
  padding-left: 25px !important;
}
.productnamecolorLARGE,
a.productnamecolorLARGE {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}
#v65-cart-shipping-details-text nobr {
  white-space: normal !important;
}
#no-js-notice {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  background: #333333;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
}
/** ========== HEADER ========== **/
#header {
  padding: 0;
  height: 60px;
  /*text-align: left;*/
  width: 100%;
  position: relative;
  background-color: #1d2026;
  background-color: green;
  border-bottom: 3px solid #050a12;
}
#header .header-content {
  margin: 0 auto;
  width: 960px;
}
/** ----- LOGO ----- **/
#display_homepage_title {
  font-family: "Avenir Next", sans-serif;
  font-size: 23px;
  color: #ebebeb;
  line-height: 60px;
  width: 290px;
  float: left;
  border: 1px dotted #fff;
  margin: 0;
}
#display_homepage_title a {
}
a#homepage_title {
}

a#homepage_title:hover {
}

/** ========== TOP NAVIGATION ========== **/
#topNav {
  width: 568px;
  float: left;
  height: 60px;
  border: 1px dotted #000;
}
#display_menu_1 {
  margin: 0;
  padding: 0;
  width: auto;
}
#display_menu_1 ul {
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
/** ========== SEARCH BOX ========== **/
#search_input::-webkit-input-placeholder {
  color: #574E47;
}

#displaySearch {
    height: 27px;
    /*height: 40px;*/
    position: absolute;
    right: 62px;
    top: 35px;
	 width:225px;
}
#displaySearch form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: #fff; */
}
input#search_input {
	background-color: #1d2026;
  color: #97b6c3;
  display: block;
  float: right;
  font-family: "Avenir Next",sans-serif;
  font-size: 14px;
  font-weight: 500;
  /*height: 15px;*/
  height: 29px;
  letter-spacing: 1px;
  margin: 0;
  padding: 6px 30px 5px 28px;
  text-align: left;
  width: 150px;
  outline: none;
  /*border: 1px solid #d4d4d4;*/
  border: 0px;
  -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

input#search_input:focus {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	width: 223px;
	background-color: #050a12;
}


input#search_submit {
	background-color: #5dc8f4;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: right;
    text-indent: -9999px;
    width: 49px;
    outline: none;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
}
/** ========== MAILING LIST ========== **/
#eListWrap {
  width: 689px;
  width: 640px;
  height: 39px;
  float:right;
  margin-top: 12px;
  position: relative;
  /*background-color: red;*/
}

#footer #eListWrap .title {
	/*color: #e7e7e7;*/
  color: #8394b3;
  float: left;
  font-family: "Avenir Next", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  margin: 10px 0 0 12px;
  text-transform: uppercase;
  /*padding-left: 30px*/
}

#eList {
  margin: 0;
  padding: 0;
  /*width: 294px;*/
  width: 250px;
  height: 29px;
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  /*background-color: gray;*/
}

#eList form {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
}
input#elist_input {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #B6B6B6;
  border: 0;
  color: #574E47;
  display: block;
  float: right;
  font-family: Raleway,sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 15px;
  letter-spacing: 1px;
  margin: 0;
  outline: medium none;
  padding: 7px 5px 5px 9px;
  text-align: left;
  width: 220px;
  -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
  background-color: #101112;
}

input#elist_input:focus {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	width: 255px;
  background-color: #586e94;
	color: #101112;
}

input#elist_submit {
    /*background: url(../images/template/submit.png) no-repeat top right;*/
    border: 0 none;
    color: #e7e7e7;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 13;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: right;
    text-indent: -9999px;
    width: 72px;
    outline: none;
    /*border: 1px solid #586e94;*/
    border-left: 1px solid #101112;
    /*background-color: #101112;*/
    background-color: #586e94;
    content: "submit";
}

/** ========== CONTENT ========== **/
#contentWrap {
  margin: 0 auto;
  padding: 10px;
  width: 940px;
  text-align: left;
  background:#fff;
}
#content {
  width: 940px;
  border-spacing: 0;
}
#content_area {
  vertical-align: top;
  margin: 0;
  padding: 10px !important;
  width: 920px;
  text-align: left;
  background: #fff;
}
#content_area table {
  text-align: left;
}
/** ========== FOOTER ========== **/
#footer {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  background: no-repeat 0 0;
  /*background-image: url('../images/template/footer-grid.png');*/
}

#footer a {
  color: #999;
}

#followUs {
  height: 62px;
  width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #586e94;
  border-bottom: 1px solid #090a0c;
}

#social {
  float:left;
  width: 238px;
  width: 300px;
  height: 39px;
  padding-left: 12px;
  margin: 12px 0 0 0;
}

#social a {
    float: left;
    margin: 8px 10px 0 0;
}

#social p {
  font-family: "Avenir Next", sans-serif;
  /*color: #e7e7e7;*/
  color: #8394b3;
  float: left;
  font-size: 13px;
  line-height: 25px;
  font-weight: 400;
  margin: 8px 25px 0 0;
  text-transform: uppercase;
}

#footerTop {
    color: #696969;
    margin: 0;
    overflow: hidden;
    padding: 0 0 25px;
    width: 960px;
}
#footerAbout {
    float: left;
    letter-spacing: 0;
    line-height: 15px;
    margin: 18px 17px 0 0;
    text-align: left;
    width: 244px;
}

#footerTop p {
  margin: 0;
  font-size: 12px;
}

#footer ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
}

#footer ul li {
    color: #696969;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

#footer .title {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}


#footer ul li a {
  color: #696969;
}

#footer ul.col-1 {
    /*margin: 18px 20px 0 23px;*/
    /*width: 169px;*/
}
#footer ul.col-2 {
    /*margin: 18px 20px 0 0;*/
    /*width: 129px;*/
}
#footer ul.col-3 {
    /*margin: 18px 20px 0 0;*/
    /*width: 151px;*/
}
#footer ul.col-4 {
    float: right;
    margin: 18px 20px 0 0;
    text-align: center;
    width: auto;
}

#footer ul.col-4 li {
    margin-bottom: 13px;
    text-align: center;
}

#footerBottom {
  /*background: url("../images/template/line.png") repeat-x scroll left top transparent;*/
  color: #6b717a;
  font-size: 12px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 0;
  width: 960px;
  border-top: 1px solid #4f5b70;
  border-top: 1px solid #090a0c;
  font-family: "Avenir Next", sans-serif;
  text-align: right;
  font-weight: 400;
}
#footerBottom a {
	color: #586e94;
}

#footer a:hover {
  color:#1daaca;
	text-decoration: underline;
}
/** ========== FIXES ========== **/
.vCSS_img_mfg_logo {
  float: none;
}
#v65-onepage-ContentTable td br:first-child {
  display: none;
}
/** ========== SHOPPING CART DISPLAY ========== **/
#header .cartDiv {
  z-index: 1 !important;
}

#cartWrapper {
font-weight: normal;
text-align: center;
position: absolute;
top: 28px;
right: -4px;
width: 59px;
height: 35px;
z-index: 5;
}

#cartWrapper span.cartAnchor {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#header a.cartLink {
  position: absolute;
  display: block;
  background: url(../images/softadd/cart.png) no-repeat 16px 14px;
  top: 0;
  padding-left: 0;
  white-space: nowrap;
  font-size: 11px;
  color: #10405b;
  text-align: left;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#header .cartNum {
  display: block;
  text-align: center;
  position: relative;
  z-index: 90;
  color: #686868;
  font-weight: bold;
  margin-top: 10px;
  width: 60px;
}

#header a.cartLink:hover {
  text-decoration: none;
}

#cartWrapper .cartAnchor {
  display: block;
}

#view_cart_text_right {
  display: inline;
}

.v65-onepage-ordersummary-itemtotal {
white-space:normal !important;
}

#content_area td[bgcolor="#ffcc00"] {
  /*background-color: #f6c1ac !important;*/
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, .4);
  box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, .4);
  border: 1px solid #e0ad93;
}

#content_area img[src="/a/i/error_alert.gif"] {
  opacity: .4;
}

#content_area td[bgcolor="#ffcc00"] table {
  /*background-color: #f6c1ac !important;*/
}
#content_area td[bgcolor="#ffcc00"] font {
  color: #6c4836;
}

/* 						Navigation.css 								*/

#topNav ul li {
  display: inline;
  text-align: center;
  zoom: 1;
}
#topNav ul li a {
  display: inline-block;
  padding: 7px 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600; 
  color: #696969;
  height: 17px;
}
#topNav ul li.nav_hover a,
#topNav ul li a:hover {
  color: #83aecf;
  text-decoration: none;
  /*border-bottom: 4px solid #83aecf;*/
}

/* ################# POPOUTS ################### */
#topNav td img {display:none !important;}  
 
#tbl0 { width:100% !important;}
 
#topNav td{ width:auto !important;}

#topNav td.nav a{
    margin: 0;
    padding:7px 15px;
    font-family: Raleway, sans-serif;
    font-size:13px;
    display:block;
    font-weight: 600;
    text-decoration:none;
    text-transform: uppercase;
    text-align:center;
    height: 17px;
}
#topNav td.nav_hover a{
    margin:0;
    padding:7px 15px;
    font-family: Raleway, sans-serif;
    font-size:13px;
    display:block;
    text-transform: uppercase;
    text-align:center;
    font-weight: 600;
  	text-decoration: none;
  	height: 17px;
  	background-image: url(../images/template/top-nav-hover.png) !important;
    background-repeat: repeat-x !important;
    background-position: top left !important;
}
#topNav td.subnav a{
    margin:0px;
    padding:7px 15px 7px 10px;
    font-family: Raleway, sans-serif;
    font-size:12px;
    font-weight: normal;
    display:block;
    text-transform: none;
    text-decoration:none;
    text-align:left;
    height: auto;
}
#topNav td.subnav_hover a{ 
    margin:0px;
    padding:7px 15px 7px 10px;
    font-family: Raleway, sans-serif;
    font-size:12px;
    font-weight: normal;
    text-transform: none;
    display:block;
    text-decoration:none;
    text-align:left;
    height: auto;
}

#display_menu_1 .nav a {color:#696969;}
#display_menu_1 .nav_hover a {color:#ffffff;}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:#1daaca;}


#topNav #display_menu_1 li.nav_hover {
	background-image: none !important;
    background-repeat: repeat-x !important;
    background-position: top left !important;
    background-color:transparent !important;
}
/* BACK UP 
#display_menu_1 .nav a {color:#696969;}
#display_menu_1 .nav_hover a {color:#ffffff;}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:#1daaca;}
*/

/* 				NEW SHIT 			*/

#topNav {
}

#display_menu_1 {
	color: #c6c6c6;
}

#display_menu_1 .nav a {
	font-family: "Avenir Next", sans-serif;
	font-weight: 500;
	color: #c6c6c6;
	font-size: 16px;
	line-height: 60px;
	padding: 0 20px;
}

/*#display_homepage_title meta {
  display: block;
  width: 200px;
  height: 200px;
  background: url("../images/template/logo.png") no-repeat 0 0;
}
*/
#display_homepage_title a {
	font-family: "Avenir Next", sans-serif;
	color: #5dc8f4;
	font-size: 23px;
	font-weight: 500;
	text-transform: uppercase;
}

#display_homepage_title a .heavy {
	font-weight: 900;
	color: #ebebeb;
}

a#homepage_title {
  color: red;
}

#contentWrap {
	/*background-color: #262a31;*/
	background: none;
}

#content_area {
	background-color: #262a31;
}

.v65-productDisplay td {
	width: 277px;
	/*margin: 0 20px;*/
	/*background-color: gray;*/
}
/*	Item card */
.v65-productDisplay .v65-productDisplay td {
	/*border: 1px dotted white;*/
	background-color: #575d68;
}

.v65-productDisplay .v65-productDisplay td img {
  width: 100%;
}
/* horizontal gap bewteen columns */
.v65-productDisplay .v65-productDisplay td[rowspan="3"] {
	/*background: green;*/
	background-color: #262a31;
	border: 0;
	width: 40px;
}
/*	vertical gap between rows */
.v65-productDisplay .v65-productDisplay td[colspan="5"] {
	background-color: #262a31;
	border: 0;
	height: 49px;
}

.v65-productDisplay .v65-productDisplay td div {
	padding: 18px 15px;
	/*background-color: red;*/
}
.v65-productDisplay .v65-productDisplay td div div {
	padding: 0;
}
.v65-productDisplay .productnamecolor {
	color: #1d2026;
	font-family: "Avenir Next", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	/*color: #7ed7fc;*/
}

.v65-productDisplay .productnamecolor:hover {
	color: #0a0b0e;
	text-decoration: none !important;
}

/*.colors_productprice */
/*.v65-productDisplay .text {*/
.product_productprice b,
.product_productprice .text,
.product_productprice {
	/*border: 1px dotted white;*/
	/*display: block;*/
	/*margin-top: 30px;*/
	margin-top: 40px;
	color: #1a1b1d;
	font-family: "Avenir Next", sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.colors_text .product_productprice {
	text-decoration: line-through;
	font-size: 15px;
	color: #30343c;
	font-style: italic;
  margin-top: 20px;
}

.product_saleprice {
	/*color: #fb7070;*/
	/*color: #97d0f7;*/
	color: #1a1b1d;
	font-family: "Avenir Next", sans-serif;
	font-weight: 500;
	font-size: 18px;
}

/* footer */
#footer {
	width: 100%;
	background-color: #17191d;
}

#footerTop {
	margin: 0 auto;
}

#footerAbout {
  width: 240px;
  width: 226px;
	margin-top: 0;
}
#footerAbout .title {
	color: #e7e7e7;
	font-size: 16px;
	font-family: "Avenir Next", sans-serif;
	font-weight: 300;
	height: 45px;
	padding-top: 30px;
	line-height: 25px;
	border-bottom: 1px solid #4f5b70;
	margin-bottom: 35px;
}

#footerAbout p {
	/*padding-top: 15px;*/
	color: #eee;
	font-style: 13px;
	font-family: "Avenir Next", sans-serif;
	line-height: 23px;
	font-weight: 300;
}

#footerTop [class^=col] .title {
	color: #e7e7e7;
	font-size: 16px;
	font-family: "Avenir Next", sans-serif;
	font-weight: 300;
	height: 45px;
	padding-top: 30px;
	line-height: 25px;
	border-bottom: 1px solid #4f5b70;
	margin-bottom: 35px;
}

#footerTop [class^=col] {
	/*background-color: red;*/
	width: 200px;
  width: 240px;
  width: 226px;
  width: 206px;
  padding: 0 10px;
  /*margin: 18px 20px 0 0;*/
  margin-right: 18px;
}

#footerTop [class^=col-3] {
  margin-right: 0;
}

#footerTop [class^=col] a {
	color: #a1bbe5;
	font-family: "Avenir Next", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px
}
#footerTop .col-4 {
	display: none;
}



#injected_content .card {
	/*background-color: red;*/

}


.card {
	display: block;
	position: relative;
	float: left;
	height: 277px;
	width: 220px;
	/*width: 140px;*/
	margin-right: 15px;
	background-color: #575d68;
}

.card:nth-child(4n) {
	margin-right: 0;
}

.card img {
	display: block;
	width: 100%;
}

.card a {
	color: #1d2026;
	font-size: 18px;
	font-family: "Avenir Next", sans-serif;

}

/*          Product Page CSS            */

.vCSS_breadcrumb_td {
  /*background-color: rgba(255,255,255, .1);*/
  color: #c6c6c6;
  font-family: "Cabin";
  font-family: "Diwan Kufi";
  font-size: 18px;
  /*border-bottom: 2px solid #050a12;*/
  /*margin-bottom: 20px;*/
  /*position: relative;*/
  /*top: -20px;*/
  /*padding-bottom: 0 !important;*/
}

#vCSS_mainform > img {
  display: none;
}

#v65-product-parent .vCSS_breadcrumb_td a {
  font-family: "Avenir Next", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #66a2bb;
  margin: 0 .75em;
}
#v65-product-parent .vCSS_breadcrumb_td a:hover {
  text-decoration: none;
}

#v65-product-parent .vCSS_breadcrumb_td font {
  font-size: 15px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #66a2bb;
  color: #d3d6dd;
  /*display: inline-block;*/
  /*float: right;*/

}

#v65-product-parent .vCSS_breadcrumb_td {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#v65-product-parent .vCSS_breadcrumb_td br {
  display: none;
}

#v65-product-parent > tbody > tr:nth-child(2) > td {
  /*background-color: black;*/
  /*padding-top: 40px;*/
  /*border-top: 2px solid #050a12;*/
}


#v65-product-parent tr:nth-child(2) {
  background-color: #575d68;
}

#v65-product-parent tr:nth-child(2) > td {
  /*padding-top: 200px;*/
}

#v65-product-parent > tbody > tr:nth-child(1) {
  /*vertical-align: top !important;*/
  /*background-color: gray;*/
  /*margin-bottom: 200px;*/
  margin-bottom: 20px;
}

#v65-product-parent > tbody > tr:nth-child(1) td {}

#product_photo_zoom_url2 {
  position: relative;
  top: 1px;
  padding: 8px 0;
  background-color: #fff;
  background-color: #b6bdc9;
  display: block;
}

#v65-share-buttons-cell {
  position: relative;
  top: -15px;
  /*background-color: #fff; */
}

#v65-share-buttons-cell span {
  color: #262a31;
}
}

#v65-product-parent > tbody > tr:nth-child(1) {
  height: 150%;
  /*background-color: aqua;*/
  height: 34px;
}

#v65-product-parent .product_productprice .text,
#v65-product-parent .product_productprice [itemprop=price] {
  color: #ced3df;
  font-family: "Avenir Next", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  /*top: -15px;*/
}

#v65-product-parent .product_code_title,
#v65-product-parent .product_code {
  font-family: "Avenir Next", sans-serif;
  font-size: 14px;
  color: #a3abbc;
  position: relative;
  margin-left: 20px;
  /*top: -15px;*/
}

.colors_pricebox td {
  vertical-align: top;
}

#v65-product-parent .colors_pricebox > tbody > tr > td > table > tbody > tr:nth-child(odd) {
}

#v65-product-parent .colors_pricebox img {
  display: none;
}

#v65-product-parent .vCSS_input_addtocart {
  padding-top: 32px;
  padding-bottom: 24px;
}

.v65-product-related-details-row {

}

.v65-product-related-header-cell > table {
  /*background-color: red;*/
  /*padding: 0 !important;*/
  border-spacing: 0;
}
#related_products_header {

  background-color: #3f444b;
}
#related_products_header font {
  display: block;
  /*border: 1px dotted gray;*/
  width: 850px;
  margin: 0 auto;
  border-bottom: 2px solid #050a12;
  padding: 2em 0;
}

#related_products_header b {
  color: #c9ced7;
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

#related_products_content {
  background-color: #3f444b;
  /*background-color: red;*/
  padding-bottom: 40px;
  padding-top: 20px;
}
#related_products_content > table {
  /*background-color: red;*/
  padding: 0 20px;
  padding: 0 30px;
}

#related_products_content .v65-productDisplay-cell {
  /*background-color: blue;*/
  /*padding: 0 20px;*/
  /*margin: 0 40px;*/
}

#related_products_content .v65-productColumn-divider {
  width: 100px;
  background-color: #3f444b;
  background-color: transparent;
}

#related_products_content .v65-productColumn-divider img {
  display: none;
}

#related_products_content .v65-productRow-divider {
  height: 40px;
}
#related_products_content .v65-productRow-divider img {
  display: none;
}

#related_products_content .v65-productDetailInfo {

}
#related_products_content .v65-productPhoto {
  /*border: 1px dotted white;*/
  background-color: white;
}
.v65-productdetail-options table[cellspacing] td:nth-child(1) {
  display: none;
  /*background-color: red;*/
}

.v65-productdetail-options br {
  display: none;
}
.v65-productdetail-options table[cellspacing] td:nth-child(2) {
  /*background-color: red;*/
  padding-right: 40px;
}

.v65-productdetail-options table[style] {
  /*background-color: blue;*/
  margin-right: 40px;
  padding-top: 26px;
  border-top: 1px solid #262a31;
}

.v65-productDisplay-row > td {
  background-color: red;
  background-color: #262a31;
}

.v65-productDisplay-cell.v65-productAvailability div {
  margin: 0;
  padding-top: 0;
  /*padding-bottom: 0;*/
}
.v65-productDisplay-row .v65-productDisplay-cell.v65-productName {
  padding: 10px;
  /*border: 1px dotted red;*/
}

#related_products_content img[src$="clear1x1.gif"] {
  display: none;
}
.v65-productDisplay-row .v65-productDisplay-cell.v65-productName a {
  /*background-color: red;*/
  color: #898f9b;
  font-family: "Avenir Next", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.colors_pricebox .product_productprice {
  /*background-color: black !important;*/
  margin-left: 20px;
}


.colors_pricebox .product_productprice font {
}

.v65-productDisplay-row .product_saleprice,
.v65-productDisplay-row .product_productprice {
  /*border: 5px solid black;*/
  margin-top: 20px;
}

.v65-productDisplay-row .product_saleprice,
.v65-productDisplay-row .product_productprice * {
  color: #898f9b;
  font-size: 15px;
  font-weight: 500;
  font-family: "Avenir Next", sans-serif;
}

.v65-productDisplay-row .product_saleprice .colors_text,
.v65-productDisplay-row .product_productprice .colors_text {
  /*color: green !important;*/
}

.v65-productDisplay-row .product_saleprice {
  text-decoration: none;
  /*border: 1px dotted blue;*/
  padding: 10px;
}
.v65-productDisplay-row .product_productprice {
  /*border: 1px dotted red;*/
  padding: 10px;
  text-decoration: none;
}
.v65-productDisplay-row .product_productprice b {
  /*font-weight: 500;*/
}
.v65-productDisplay-row .product_productprice font {
  color: #898f9b;
}


.colors_descriptionbox {
  background-color: red;
  background-color: #262a31;
}

#Header_ProductDetail_ProductDetails {
  width: 100%;
  padding: 20px 25px 0 25px;
}
#Header_ProductDetail_ProductDetails nobr {
  border-bottom: 1px solid #575d68;
  display: block;
}

#Header_ProductDetail_ProductDetails .productnamecolorSMALL {
  text-align: center;
  color: #2d323a; 
  font-family: "Avenir Next", sans-serif;
  background-color: #575d68;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}
#product_description {
  display: block;
  color: #a0a3a9;
  font-size: 15px;
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  line-height: 22px;
  padding: 20px 40px;
}

.v65-product-blankCell {
  display: none;
}

.colors_descriptionbox img {
  display: none;
}
img[src$="clear1x1.gif"] {
  display: none;
}

div[itemtype="http://schema.org/Product"] {
  color: #d3d6dd;
}
div[itemtype="http://schema.org/Product"] > a {
  color: #7ca3eb;
  margin-top: 20px;
  display: inline-block;
  text-align: right;
  margin-bottom: 30px;
}

